* {
    margin: 5px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainBack {
    background: #01749c
}

.title {
    display: flex;
    background-image: url(https://i.redd.it/ogik3x9ydod01.png);
    background-position: center;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.sunset-container {
    border-radius: 800px;
    text-align: center;
}

/* container1 {
    display: flex;
    color: black;
    text-align: justify;
    height: auto;
    padding-top: 30px;
} */

.box-1 {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 10px;
}

.box-2 {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box-3 {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.box-4 {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 50%;
}

.box-5 {
    display: inline-flex;
}
